# Project specific
app/database/init/
.env
app/.env

# Node
node_modules/
app/node_modules/
app/interfaces/presentation/node_modules/
app/interfaces/presentation/src/output.css

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Docker
mysql_data/
